/* Brand block css */
.brand_container .highlight-sort-placeholder{border:2px dashed #337ab7!important;background-color:#f7f7f7}
.brand_container .drag-handle{cursor:move;position:absolute;right:10px;top:10px;z-index:10;display:none;color:#bfd732}
.brand_container.start-reorder .drag-handle{display:inline-block}
.brand_container{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:0 -15px;padding-bottom:220px;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:relative}
.brand_container .brand_wrapper{position:relative;width:386px;height:250px;max-width:100%;margin-left:15px;margin-right:15px;margin-bottom:30px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;text-align:center}
.brand_container .brand_listing_wrapper{position:relative;width:100%;height:auto;margin-left:15px;margin-right:15px;margin-bottom:30px;border:2px solid #d4d4d4}
.brand_container .brand_img{width:100%;height:auto;max-width:100%}
.brand_container .brand_img img{max-width:100%;height:auto}
.brand_container .brand_img img {width:258px}
.brand_container .brand_listing_wrapper .brand_img::before{content:"";display:block;position:absolute;bottom:0;left:0;right:0;height:50%;z-index:2;background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.3)));-webkit-filter:progid:dximagetransform.microsoft.gradient(startColorstr='#00000000',endColorstr='#a6000000',GradientType=0);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#00000000',endColorstr='#a6000000',GradientType=0)}
.brand_block_swap_settings{margin-bottom:10px;padding-right:58px;text-align:right}
.brand_block_swap_settings .swap_buttons_wrapper .components-button{background-color:white;border:1px solid;border-radius:5px}
.brand_container .learn_more a{background:#FF7700;color:#fff;text-transform:uppercase;width:225px;height:50px;display:block;line-height:50px;text-align:center;border-radius:10px;font-size:24px;font-family:'Arboria';font-weight:500;letter-spacing:0.24px;-webkit-transition:all 0.25s ease 0s;-o-transition:all 0.25s ease 0s;transition:all 0.25s ease 0s}
.brand_container .learn_more{position:absolute;bottom:90px}
.brand_container .learn_more a:hover{background:#ec6f02}
.brands_h2{padding:50px 0 20px 0;line-height:1}
@media screen and (max-width:1670px){
    .brand_container{padding-bottom: 180px}
    .brand_container .brand_wrapper{width:calc(25% - 30px);height:220px}
}
@media screen and (max-width:1300px){
    .brand_container .brand_wrapper{width:calc(24% - 20px);height:200px}
}
@media screen and (max-width:991px){
    .brand_container .brand_wrapper{width:calc(50% - 30px);height:300px}
    .brand_container .brand_img img {width: 220px}
}